{% extends "base.html" %}

{% block title %}mguglielmo{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% if error %}
<div class="alert alert-danger" role="alert">
  <strong>Error:</strong> {{ error }}</p>
</div>
{% endif %}

<div id="my-linkedin" class="mb-auto mt-auto px3">
  <p>My Linkedin:</p>
  <a href="https://www.linkedin.com/in/michaelguglielmo1/">https://www.linkedin.com/in/michaelguglielmo1/</a>
</div>

<div id="my-linkedin" class="mb-auto mt-auto px3">
  <p>My GitHub</p>
  <a href="https://github.com/mikeGugs">https://github.com/mikeGugs</a>
</div>

<h1>Send me an Email!</h2>
<div class="mb-auto mt-auto px-3">
  <form method="POST" action="/contact">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
	<div class="input-group mb-3">
	  {{ form.csrf_token }}
	  {{ form.user_email(class_="form-control", placeholder="your_email@example.com", size=20) }}
	</div>
	<div class="input-group mb-3">
	  {{ form.message(class_="form-control", placeholder="Your message...") }}
	</div>
	<input type="submit" class="btn btn-primary btn-md" value="Send">
      </div>
      <div class="col-sm"></div>
    </div>
  </form>
</div>

{% endblock %}
