{% extends "base.html" %}

{% block title %}mguglielmo{% endblock %}

{% block content %}


<div class="container mb-auto mt-auto px-3">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <p class="lead text-start">
	Hi &#128075; I'm Michael Guglielmo,
      </p>
      <p class="text-start">Thanks for visiting my personal website!</p>
      <p class="text-start">I'm building this website both as a learning exercise, and a platform to share projects I've worked on.</p>
      <p class="text-start">My formal educational background lies mostly in Finance. My professional background spans execution trading, operations, and production support for automated trading systems. Studying topics related to technology as a hobby has been both enjoyable and practical in my professional career. Ideally, I'll be able to grow into a professional role where I can leverage technical skills and market knowledge to improve trading systems in some capacity.</p>
      <p class="text-start">I'd be happy to connect with fellow professionals who share similar interests or anyone who has thoughts, questions, or feedback about the content here.</p>
      <p class="text-start">Sincerely,</p>
      <p class="text-start">- Mike </p>      
    </div>
    <div class="col">
    </div>
  </div>
</div>




{% endblock %}
