{% extends "base.html" %}

{% block title %}mguglielmo{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="display-1">Bond Portfolio Analyzer</h1>
  <h3> A tool to deliver statistics on your treasury bond portfolio.</h3>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">  
	<h3> Things like: </h3>
	<ul class="list-group list-group-flush">
	<li class="list-group-item">Macaulay & modified duration per bond</li>
	<li class="list-group-item">Portfolio Macaulay & Modified Duration</li>
	<li class="list-group-item">Cumulative Return Statistics</li>
	<li class="list-group-item">Portfolio DV01</li>
	<li class="list-group-item">Portfolio key rate durations (coming soon)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">
        <h3>You must be logged in to use this tool.</h3>
	<a href="/login" type="button" class="btn btn-primary btn-md">Login</a>
	<a href="/signup" type="button" class="btn btn-primary btn-md">Sign Up</a>
      </div>
    </div>  
</div>
{% endblock %}
